# Output files (committed by GitHub Actions)
# These files are generated and committed automatically
# Don't manually edit them - they will be overwritten

# GeoIP database (downloaded by workflow)
GeoLite2-Country.mmdb

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db
